html, head, body, title, header, figure,
nav, h1, ul, li, a, aside, h2, p, section, figcaption, ol, form, label, input,
select, option, textarea, footer {
  margin: 0;
  border: 0;
  padding: 0;
}

header img {
  padding: 10px;
  float: left;
  clear: both;
}

body {
  width: 900px;
  margin: 0 auto;
  background: #ffe6e2;
}

nav {
  display: flex;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

ol {
  padding-left: 15px;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .review-form {
  border-top: 1px solid black;
}

div {
  display: block;
}

figure img {
  margin: 10px 0px;
  width: 100%;
}

.col {
  float: left;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-3 {
  width: 20%;
}

.col-2-3 {
  width: 80%;
}

.mph:after {
  content: '';
  display: block;
  clear: both;
}

.ingredients-list li {
  margin: 15px 0px;
}

.directions-list li {
  margin: 15px 0px;
}

label {
  display: block;
}

input[type="text"], select {
  display: block;
  margin: 10px 0px;
  border: 1px solid black;
}

input:last-child {
  background: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

input[type="radio"], input[type="submit"], select {
  cursor: pointer;
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url('stars.png');
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

label textarea {
  border: 1px solid black;
}

input[type="submit"] {
  border: 3px solid #CCCCCC;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

h2 {
  margin: 10px 0px;
}

@media all and (max-width: 980px) {
  nav ul {
    display: none;
  }
}
